<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssmm.dao.TeacherMapper">
	<resultMap id="BaseResultMap" type="com.ssmm.model.Teacher">
		<id column="teacherid" property="userId" jdbcType="INTEGER" />
		<!-- <result column="classid" property="classid" jdbcType="INTEGER" /> 
			<result column="teacherid" property="teacherid" jdbcType="INTEGER" /> <result 
			column="subjectid" property="subjectid" jdbcType="INTEGER" /> <result column="deleteflag" 
			property="deleteflag" jdbcType="TINYINT" /> -->
		<collection property="school" resultMap="sda">
		</collection>
	</resultMap>
	<resultMap type="com.ssmm.model.TeacherSchool" id="sda">
		<id property="schoolId" column="code" />
		<result property="areaName" column="city" />
		<result property="areaId" column="cityId" />
		<result property="schoolName" column="name" />
		<collection property="teacherClass" resultMap="a">
		</collection>
	</resultMap>
	<resultMap type="com.ssmm.model.TeacherClass" id="a">
		<id property="classId" column="id" />
		<result property="className" column="name" />
		<result property="gradeNo" column="grade" />
		<collection property="subjectName" resultMap="b">

		</collection>
	</resultMap>

	<resultMap type="com.ssmm.model.SubjectName" id="b">

		<id property="subjectName" column="subjectname" />

	</resultMap>

	<sql id="Base_Column_List">
		school.`code` ,
		teacher.teacherid,
		school.`name` ,
		school.city ,
		school.cityId ,
		class.`name` ,
		class.grade ,
		class.id ,
		subject.`name` subjectname
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from lxc_class_teacher teacher,lxc_school school,lxc_class class
		,lxc_subject subject
		where teacher.teacherid =
		#{teacherid,jdbcType=INTEGER} and school.id =
		class.schoolid AND
		teacher.classid = class.id AND teacher.subjectid = subject.id ORDER BY
		code
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		lxc_class_teacher
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ssmm.model.Teacher">
		insert into lxc_class_teacher
		(id, classid, teacherid,
		subjectid, deleteflag, lastupdate
		)
		values
		(#{id,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER},
		#{teacherid,jdbcType=INTEGER},
		#{subjectid,jdbcType=INTEGER},
		#{deleteflag,jdbcType=TINYINT}, #{lastupdate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ssmm.model.Teacher">
		insert into lxc_class_teacher
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="classid != null">
				classid,
			</if>
			<if test="teacherid != null">
				teacherid,
			</if>
			<if test="subjectid != null">
				subjectid,
			</if>
			<if test="deleteflag != null">
				deleteflag,
			</if>
			<if test="lastupdate != null">
				lastupdate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="classid != null">
				#{classid,jdbcType=INTEGER},
			</if>
			<if test="teacherid != null">
				#{teacherid,jdbcType=INTEGER},
			</if>
			<if test="subjectid != null">
				#{subjectid,jdbcType=INTEGER},
			</if>
			<if test="deleteflag != null">
				#{deleteflag,jdbcType=TINYINT},
			</if>
			<if test="lastupdate != null">
				#{lastupdate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ssmm.model.Teacher">
		update lxc_class_teacher
		<set>
			<if test="classid != null">
				classid = #{classid,jdbcType=INTEGER},
			</if>
			<if test="teacherid != null">
				teacherid = #{teacherid,jdbcType=INTEGER},
			</if>
			<if test="subjectid != null">
				subjectid = #{subjectid,jdbcType=INTEGER},
			</if>
			<if test="deleteflag != null">
				deleteflag = #{deleteflag,jdbcType=TINYINT},
			</if>
			<if test="lastupdate != null">
				lastupdate = #{lastupdate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ssmm.model.Teacher">
		update
		lxc_class_teacher
		set classid = #{classid,jdbcType=INTEGER},
		teacherid =
		#{teacherid,jdbcType=INTEGER},
		subjectid =
		#{subjectid,jdbcType=INTEGER},
		deleteflag =
		#{deleteflag,jdbcType=TINYINT},
		lastupdate =
		#{lastupdate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>